
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="191" height="191" style="shape-rendering: auto; display: block; background: transparent;" xmlns:xlink="http://www.w3.org/1999/xlink"><g><rect fill="#1e1f47" height="28" width="28" y="3" x="3">
  <animate calcMode="discrete" begin="0s" repeatCount="indefinite" dur="2.6315789473684212s" keyTimes="0;0.125;1" values="#2f6ac2;#1e1f47;#1e1f47" attributeName="fill"></animate>
</rect><rect fill="#1e1f47" height="28" width="28" y="3" x="36">
  <animate calcMode="discrete" begin="0.32894736842105265s" repeatCount="indefinite" dur="2.6315789473684212s" keyTimes="0;0.125;1" values="#2f6ac2;#1e1f47;#1e1f47" attributeName="fill"></animate>
</rect><rect fill="#1e1f47" height="28" width="28" y="3" x="69">
  <animate calcMode="discrete" begin="0.6578947368421053s" repeatCount="indefinite" dur="2.6315789473684212s" keyTimes="0;0.125;1" values="#2f6ac2;#1e1f47;#1e1f47" attributeName="fill"></animate>
</rect><rect fill="#1e1f47" height="28" width="28" y="36" x="3">
  <animate calcMode="discrete" begin="2.3026315789473686s" repeatCount="indefinite" dur="2.6315789473684212s" keyTimes="0;0.125;1" values="#2f6ac2;#1e1f47;#1e1f47" attributeName="fill"></animate>
</rect><rect fill="#1e1f47" height="28" width="28" y="36" x="69">
  <animate calcMode="discrete" begin="0.9868421052631579s" repeatCount="indefinite" dur="2.6315789473684212s" keyTimes="0;0.125;1" values="#2f6ac2;#1e1f47;#1e1f47" attributeName="fill"></animate>
</rect><rect fill="#1e1f47" height="28" width="28" y="69" x="3">
  <animate calcMode="discrete" begin="1.9736842105263157s" repeatCount="indefinite" dur="2.6315789473684212s" keyTimes="0;0.125;1" values="#2f6ac2;#1e1f47;#1e1f47" attributeName="fill"></animate>
</rect><rect fill="#1e1f47" height="28" width="28" y="69" x="36">
  <animate calcMode="discrete" begin="1.644736842105263s" repeatCount="indefinite" dur="2.6315789473684212s" keyTimes="0;0.125;1" values="#2f6ac2;#1e1f47;#1e1f47" attributeName="fill"></animate>
</rect><rect fill="#1e1f47" height="28" width="28" y="69" x="69">
  <animate calcMode="discrete" begin="1.3157894736842106s" repeatCount="indefinite" dur="2.6315789473684212s" keyTimes="0;0.125;1" values="#2f6ac2;#1e1f47;#1e1f47" attributeName="fill"></animate>
</rect><g></g></g></svg>
